{% extends "layout.twig" %}

{% block content %}
	
	<div class="span10">
			<form action="{{ path('addservice')}}" method="post" novalidate>
				<h1>Toevoegen</h1>
			   	<div class="control-group">
			   		{{ form_label(addform.title) }}
			   		{{ form_widget(addform.title) }}
			   		{{ form_errors(addform.title) }} 
			   	</div>
			   	<div class="control-group">
			   		{{ form_label(addform.description) }}
			   		{{ form_widget(addform.description) }}
			   		{{ form_errors(addform.description) }} 
			   	</div>
			   	<div class="control-group">
			   		{{ form_label(addform.categorie) }}
			   		{{ form_widget(addform.categorie) }}
			   		{{ form_errors(addform.categorie) }} 
			   	</div>
			   	<div class="control-group">
			   		{{ form_label(addform.location) }}
			   		{{ form_widget(addform.location) }}
			   		{{ form_errors(addform.location) }} 
			   	</div>
			   	<div class="control-group" id="locationText">
			   		{{ form_label(addform.locationText) }}
			   		{{ form_widget(addform.locationText) }}
			   		{{ form_errors(addform.locationText) }} 
			   	</div>
			   	<div class="control-group">
			   		{{ form_label(addform.deadline) }}
			   		{{ form_widget(addform.deadline) }}
			   		{{ form_errors(addform.deadline) }} 
			   	</div>
			   	{{ form_rest(addform) }}

			   	{#  
			   	{% if errors %}
			   		{% for error in errors %}
			        	<li>{{ error|e }}</li>
			    	{% endfor %}
        		{% endif %}
				#}
			    <input class="btn btn-large btn-block" type="submit" name="submit" value="Toevoegen" />
			</form>
	</div>
{% endblock %}

{% block jqueryblock %}
	<script src="{{ app.request.baseUrl }}/js/geoscript.js"></script>
{% endblock %}

