{% extends "layout.twig" %}

{% block content %}
	{% if app.session.get('user') %}
	<div class="row">
	<div class="span8">
			<form action="{{ path('addservice')}}" method="post" novalidate>
				<h1>Toevoegen</h1>
			   	<div class="control-group">
			   		{{ form_label(addform.title) }}
			   		{{ form_widget(addform.title) }}
			   		{{ form_errors(addform.title) }} 
			   	</div>
			   	<div class="control-group">
			   		{{ form_label(addform.description) }}
			   		{{ form_widget(addform.description) }}
			   		{{ form_errors(addform.description) }} 
			   	</div>
			  	<div class="control-group">
			   		{{ form_label(addform.reward) }}
			   		{{ form_widget(addform.reward) }}
			   		{{ form_errors(addform.reward) }} 
			   	</div>
			   	<div class="control-group">
			   		{{ form_label(addform.categorie) }}
			   		{{ form_widget(addform.categorie) }}
			   		{{ form_errors(addform.categorie) }} 
			   	</div>
			   	<div class="control-group">
			   		{{ form_label(addform.location) }}
			   		{{ form_widget(addform.location) }}
			   		{{ form_errors(addform.location) }} 
			   	</div>
			   	<div class="control-group locationtext">
			   		{{ form_label(addform.locationText) }}
			   		{{ form_widget(addform.locationText) }}
			   		{{ form_errors(addform.locationText) }} 
			   		<span class="fui-location-24 locfound"></span>	
			   		
			   	</div>
			   	<div class="control-group">
			   		{{ form_label(addform.deadline) }}
			   		{{ form_widget(addform.deadline) }}
			   		{{ form_errors(addform.deadline) }} 
			   	</div>
			   	{{ form_rest(addform) }}

			   	{#  
			   	{% if errors %}
			   		{% for error in errors %}
			        	<li>{{ error|e }}</li>
			    	{% endfor %}
        		{% endif %}
				#}
				<div class="span2">
					<input class="span2 btn btn-large btn-block" type="submit" name="submit" value="Toevoegen" />
				</div>
			    
			</form>
	</div>
	</div>
	{%  else  %}
		<p>Je moet ingelogd zijn hiervoor<p>
	{% endif %}
{% endblock %}

{% block jqueryblock %}
	<script src="{{ app.request.baseUrl }}/js/calendar.js"></script>
	<script src="{{ app.request.baseUrl }}/js/services_add.js"></script>
{% endblock %}

