{% extends "layout.twig" %}

{% block content %}
	<div class="overview row">

		<div class="span3">
			<div class="tile">
				<h3>Categorie</h3>
				<ul class="tilecategories">
					{% for categorie in categories %}
						<li class="categorie" >
							<label class="checkbox checked" data-id="{{categorie.id}}" for="checkbox1"><span class="icon"></span><span class="icon-to-fade"></span>
				            <input type="checkbox" value="" id="checkbox1">
				            {{categorie.name}}
				          </label>
						</li>
					{% endfor %}
				</ul>
			</div>

			<a href="">
			<div class="tile">
				<h4>Zoek opdrachten in jouw buurt</h4>
				<img src="{{ app.request.baseUrl }}/flatui/images/illustrations/map.png">
			</div>
			</a>
		</div>

		<div class="span9">
			<ul class="services"></ul>
			<div class="spinner"></div>
		</div>


		
	</div>	
{% endblock %}


{% block jqueryblock %}
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
	<script type="text/javascript" src="{{app.request.baseUrl}}/js/services_overview.js"></script>
	<script type="text/javascript" src="{{app.request.baseUrl}}/js/services_handler.js"></script>
{% endblock %}

